<%- include('partials/header') %>

<div class="image__container"></div>
      <div class="title__container">
        <h2>Notre Catalogue</h2>
      </div>
      <section class="product__container">
        <div class="product__container--all">
          <% cafes.forEach(cafe => { %>
          <article id="article-1" class="productContent__article">
            <div class="productContent__img">
              <img
                src="../images/coffees/<%= cafe.reference %>.png"
                alt=""
              />
            </div>
            <h2><%= cafe.nom %></h2>
            <p class="productContent__paragraph">
              <%= cafe.description %>
            </p>
            <button class="btn_main btn__article"><a href="/produit/:<%= cafe.reference %>">Découvrir</a></button>
          </article>
          <% }) %>
        </div>
      </section>
      <button class="btn_main btn__allSee">Tout voir</button>

      <%- include('partials/footer') %>